[submodule "Dependencies/CUE4Parse"]
	path = Dependencies/CUE4Parse
	url = https://github.com/h4lfheart/CUE4Parse
[submodule "Dependencies/EpicManifestParser"]
	path = Dependencies/EpicManifestParser
	url = https://github.com/NotOfficer/EpicManifestParser
