# IDE Stuff
.idea
.fleet
FortnitePorting_*.csproj
*.DotSettings.user

# Build
bin
obj
Release
exe

# Blender
*.blend1

# Extra
FortnitePorting-Publish

# Created for Plugin Release
FortnitePorting/Plugin