[submodule "Dependencies/CUE4Parse"]
	path = Dependencies/CUE4Parse
	url = https://github.com/h4lfheart/CUE4Parse
[submodule "Dependencies/FluentAvalonia.BreadcrumbBar"]
	path = Dependencies/FluentAvalonia.BreadcrumbBar
	url = https://github.com/h4lfheart/FluentAvalonia.BreadcrumbBar
[submodule "Dependencies/UEFormat"]
	path = Dependencies/UEFormat
	url = https://github.com/h4lfheart/UEFormat
