name: Build and Release

on:
  push:
    tags:
      - '*'

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: GIT Checkout
        uses: actions/checkout@v4
        with:
          submodules: 'recursive'

      - name: Fetch Submodules Recursively
        run: git submodule update --init --recursive

      - name: .NET 8 Setup
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: .NET Restore
        run: dotnet restore FortnitePorting

      - name: .NET Publish
        run: |
          dotnet publish FortnitePorting -c Release --no-self-contained -r win-x64 -o "./Release" `
            -p:PublishSingleFile=true `
            -p:DebugType=None `
            -p:DebugSymbols=false `
            -p:IncludeNativeLibrariesForSelfExtract=true

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          name: "FortnitePorting ${{ github.ref_name }}"
          files: ./Release/FortnitePorting.exe
          draft: false
          prerelease: false
          generate_release_notes: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
